<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/>
    </settings>
    <typeAliases>
        <typeAlias alias="Student" type="com.mybatis3.domain.Student" />
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/test" />
                <property name="username" value="root" />
                <property name="password" value="admin" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/UserMapper.xml" />
    </mappers>
<!--    mapper配置的几种方式：resource、url、class、package
　　resource形式：
　　<mappers>
        <mapper resource="com/m_bingo/mybatis/model/BlogMapper.xml"/>
    </mappers>
路径为xml映射文件的路径包名+文件名。
　　url形式：
　　<mappers>
　　　<mapper url="file:///var/mappers/BlogMapper.xml"/>
　　</mappers>
路径对应的是网络上了某个文件，注意file:// 前缀 +路径+文件名
　　class形式：
　　<mappers>
　　　　 <mapper class="com.mybatis.builder.BlogMapper"/>
　　 </mappers>
class实际上是接口，写的是接口的全名。
　　package形式：
　　<mappers>
　　 <package name="com.mybatis.builder"/>
　　 </mappers>-->
</configuration>